div.psinfoTitle {
    background-color: #999999;
    padding: 5px;
    border: none;
    color: #f1f1f1;
}

div.psinfo {
    padding: 5px;
    border-bottom: solid 1px #139952;
    border-left: none;
    border-right: solid 1px #139952;
    border-top: none;
    background-color: #f0f0f0;
    overflow: hidden;
}

div.psinfoTitle {
    background-color: #999999;
    padding: 5px;
    border: none;
    color: #f1f1f1;
}

div.psinfoContainer {
    background-color: #f0f0f0;
    padding: 0px;
    margin-bottom: 5px;
    border: solid 1px #cccccc;
}

div.psinfoContainerTitle {
    background-color: #139952;
    padding: 5px;
    border: none;
    color: #f0f0f0
}

table.psinfo {
    border: none;
    padding: 5px;
    margin: 5px;
    width: 100%;
}

td.psinfoName {
    vertical-align: top;
    color: #000000;
}

td.psinfoValue {
    vertical-align: top;
    align: left;
    color: #555555;
}

div.highlighted {
    background-color: yellowgreen;
}

div.usual {
    background-color: #008dbf;
}

/* STYLES COOL */

div.list_element_info {
    width: 300px;
    border: solid 1px tomato;
    color: white;
}

div.list_element_info_hidden {
    background-color: transparent;
    display: none;
}

div.list_element_info_active {
    background-color: #003c57;
}

div.list_element_item {
    color: white;
    padding: 3px;
}

div.list_element_item_active {
    background-color: #139952;
}

div.list_element_item_usual {
    background-color: #60bd1f;
}

div.list_container {
    background-color: #f0f0f0;
    opacity: 0.9;
    position: absolute;
    right: 10px;
    top: 50px;
    bottom: 25px;
    width: 350px;
    border: solid 1px #2fa566;
    z-index: 100;
}

div.list_scrollbar_area {
    position: absolute;
    top: 40px;
    bottom: 0px;
    width: 100%;
    overflow-y: scroll;
}

div.list_element_container {
    width: 100%;
    margin-bottom: 1px;
}

.list_search_container {
    padding-bottom: 1px;
}

.list_search_input {
    min-height: 40px;
    width: 100%;
    border: none;
    background-color: #f0f0f0;
    padding-left: 35px;
}

.list_search_button {
    position: absolute;
    top: 5px;
}

div.toolbar_button {
    position: absolute;
    top: 10px;
    width: 200px;
    line-height: 30px;
    color: #f0f0f0;
    padding-left: 40px;
    z-index: 100;
}

div.pos_list {
    right: 11px;
}

div.pos_auth {
    right: 230px;
}

.ch_active {
    background-color: #60bd1f;
}

.ch_pressed {
    background-color: #139952;
}

.ch_highlighted {
    background-color: #29aae0;
}

.ch_inactive {
    background-color: #b2b2b2;
}

img.button {
    position: absolute;
    left: 0px;
}

img.arrow {
    position: absolute;
    right: 0px;
}

.shadowed {
    -webkit-box-shadow: 4px 3px 5px 0px rgba(50, 50, 50, 0.52);
    -moz-box-shadow: 4px 3px 5px 0px rgba(50, 50, 50, 0.52);
    box-shadow: 4px 3px 5px 0px rgba(50, 50, 50, 0.52);
    opacity: 0.9;
}

div.toolbox_container {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: #f0f0f0;
    opacity: 0.9;
    border: solid 1px #2fa566;
    padding: 3px;
    z-index: 100;

}

img.toolbox_button {
    margin-bottom: 1px;
    display: block;
}

div.toolbox_helper_button_legend {
    position: absolute;
    left: 44px;
    bottom: 77px;
    border-bottom: solid 1px #2fa566;
    border-top: solid 1px #2fa566;
    background: #f0f0f0;
    width: 6px;
    height: 30px;
    z-index: 101;
}

div.toolbox_helper_button_layers {
    position: absolute;
    left: 44px;
    bottom: 46px;
    border-bottom: solid 1px #2fa566;
    border-top: solid 1px #2fa566;
    background: #f0f0f0;
    width: 6px;
    height: 30px;
    z-index: 101;
}

div.toolbox_data_container {
    position: absolute;
    left: 49px;
    bottom: 10px;
    width: 300px;
    min-height: 97px;
    z-index: 100;
}

div.toolbox_data_elements_container {
    background-color: #f0f0f0;
    border: solid 1px #2fa566;
    padding: 3px;
}

div.basemap_element {
    border: none;
    color: #000000;
    margin-bottom: 1px;
    height: 30px;
    /*background-color: #60bd1f;*/
}

div.layer_element {
    color: #f0f0f0;
    background-color: #139952;
    margin-bottom: 1px;
}

.ch_title {
    color: #f0f0f0;
    background-color: #139952;
    line-height: 30px;
    padding: 0px 5px 0px 5px;
}

div.floating_panel {
    position: absolute;
    top: 30%;
    bottom: 30%;
    right: 360px;
    z-index: 100;
}

div.standalone_helper_positioning {
    position: absolute;
    z-index: 101;
    top: 40%;
    width: 16px;
    height: 30px;
    left: -16px;

}