<div class="leaflet-container psinfo" ng-show="showPanel" >
    <!--<div class="psinfoTitle">-->
        <!--{{ ps.name }}-->
    <!--</div>-->
    <div class="psinfoContainer">
        <div class="psinfoContainerTitle">
            Общая информация
        </div>
        <table class="psinfo">
            <tr>
                <td class="psinfoName">Класс напряжения:</td>
                <td class="psinfoValue">{{ ps.power }}</td>
            </tr>
            <tr>
                <td class="psinfoName">Загрузка:</td>
                <td class="psinfoValue">{{ ps.load }}</td>
            </tr>
            <tr ng-repeat="a in attributes">
                <td class="psinfoName">
                    {{ a.attributeType.name }}:
                </td>
                <td class="psinfoValue">
                    {{ a.value }}
                </td>
            </tr>
        </table>
    </div>
    <div class="psinfoContainer">
        <div class="psinfoContainerTitle">
            Документы
        </div>
        <table class="psinfo">
            <tr ng-repeat="d in documents">
                <td>
                    <a target="_blank" class="psinfo" href="{{ d.link }}">
                        {{ d.name }}
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>